.icon-block {
    height: 100px;
    width: 100%;
    max-width: 100px;
    padding: 0px 6px;
    margin: 16px 12px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: var(--mud-default-borderradius);
    user-select: none;
    border: solid 1px #808080;
}

    .icon-block:hover {
        cursor: grab;
        -webkit-filter: brightness(70%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
