.icon-block {
    height: 100px;
    width: 100%;
    max-width: 100px;
    padding: 0px 6px;
    margin: 16px 12px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: var(--mud-default-borderradius);
    user-select: none;
    border: solid 1px #808080;
}

.icon-block:hover {
    cursor: grab;
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


.icon-element {
    width: 1em;
    height: 1em;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    vertical-align: middle;
    font-size: 1.5rem;
    fill: currentColor;
}

.icon-caption {
    font-size: var(--mud-typography-caption-size);
    font-family: var(--mud-typography-caption-family);
    font-weight: var(--mud-typography-caption-weight);
    line-height: var(--mud-typography-caption-lineheight);
    letter-spacing: var(--mud-typography-caption-letterspacing);
    text-transform: var(--mud-typography-caption-text-transform);
}